// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#indexPage {
  text-align: center;

  .mapCont {
    margin: auto;
    margin-top: 50px;
    padding: 0 25px;
    max-width: 850px;
    text-align: left;

    h1 {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .select-wrapper {
      width: 100px;
    }
  }

  .mapSvg {
    margin: auto;
    display: inline-block;
    margin-top: 30px;
  }

  .state {
    fill: #aad2fd;
  } /* default color for all states not specified below */

  .borders {
    stroke: #ffffff;
    stroke-width: 1;
  } /* color and width of borders between states */

  .dccircle {
    display: yes;
  } /* set display to yes to show the circle for the District of Columbia, or none to hide it */

  .separator1 {
    stroke: #b0b0b0;
    stroke-width: 2;
  } /* color and width of lines around Alaska and Hawaii */

  /* Individual states can be colored as follows:
  .ks,.mt,.pa {fill:#0000FF}
  .ca,.de {fill:#FF0000}
  In this example, Kansas, Montana and Pennsylvania are colored blue, and California and Delaware are colored red.
  Place this code in the empty space below. */
}
